BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

PointerAlignment: Left  # aligns & and * to the type, not variable

BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterClass: false
  AfterNamespace: false
  AfterStruct: false
  AfterEnum: false
  BeforeElse: false
